body {
background:#FFFFFF;
margin:0px;
}
.main_block{
    height: 100vh;
    width: 260vw;
    background-color: burlywood;
    display: flex;
    flex-direction:row;
    position: relative;
}

.container {
    background:#d8d8d8;
    display:flex;
    height: 100vh;
    width: 100vw;
    flex-direction:row;
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

}

.who_we_are{
    display:flex;
    flex-direction: column;
    background: #ffffff;
    width:70vw;
    padding:  2vh 2vw 0 3vw;
}
.author{
    display:flex;
    flex-direction: row;
    align-items: center;
    border-radius: 73px;
    background: #d8d8d8;
    margin-bottom: 5vh;
    z-index: 5;
}



h2 {
color:#000000;
margin-bottom: 10vh;
font-size: 36px;
}

.author_text {
    display:flex;
    padding:  5vh 5vw 0 5vw;
    height: 10vh;
    width: 30vw;
    font-family: 'Inter', sans-serif;
    font-style: normal;

    

}
 .author_logo {
display: flex;
justify-content: center;
align-content: center;
align-items: center;
width: 150px;
height: 150px;


transition: all 0.2s linear;


}

.author_logo_1:hover {
    transform: scale(1.1,1.1); 

 }
.author_logo_2:hover {
    transform: scale(1.1,1.1); 

 }

.author_logo_3:hover {
    transform: scale(1.1,1.1); 

 }

.our_dx_logo {
width: 350px;
height: 350px;
background-image: url(iot.png);
background-size: cover;
border:none;
margin-top: 8vh;
margin-left: 1vw;
border-radius: 350px;
transition: all 0.2s linear;
}

.our_dx_logo:hover {
    transform: scale(1.05,1.05); 

 }

.who_our_dx_is{
    display:flex;
    background: #ffffff;
    width:100vh;
    padding:  2vh 0 0 3vw;
    margin-top: 20vh;
    margin-right: 5vw;
    margin-left: 2vw;
    border-radius: 35px;
    height: 56vh;
}

.our_dx_text{
    width: 40%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.circle-11{
    top: 85vh;
    left: 52vw;
    width: 85px;
    height: 80px;
    position: absolute;
    z-index: 3;
}

.circle-21{
    position: absolute;
    z-index: 3;
    top: 5vh;
    left: 35vw;
    width: 310px;
    height: 300px;
}

.circle-31{
    position: absolute;
    z-index: 3;
    top: 65vh;
    left: 15vw;
    width: 160px;
    height: 150px;
}

.circle-41{
    position: absolute;
    z-index: 3;
    top: 85vh;
    left: 35vw;
    width: 20px;
    height: 18px;
}

.circle-51{
    position: absolute;
    z-index: 3;
    top: 15vh;
    left: 25vw;
    width: 8px;
    height: 7px;
}

.circle-61{
    position: absolute;
    z-index: 3;
    top: 90vh;
    left: 8vw;
    width: 10px;
    height: 9px;
}
  /* ====================БЛОК 0===================== */

body{
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
     overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.main_block{
    height: 100vh;
    width: 260vw;
    background-color: burlywood;
    display: flex;
    position: relative;
}

.main-start{
    flex-direction: column;
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;

}

.logo{
    position: relative;
    height: 5vh;
    margin: 1%;

}



.click_hamburger{
    z-index: 8;
    position: absolute;
    height: 78px;
    width: 79px;
    left: 95.8vw;
    
    

}

 /* ====================БЛОК 2===================== */
#toggle:checked ~ .main-menu {
    transform: translateX(-100vw);
    
}

.main-menu{
    transition: .3s; 
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: 5;
}

.mute_glass{
    height: 100vh;
    width: 70vw;
    background: #F8F2F2;
    opacity: 0.9;
    z-index: 5;
    
}

.menu{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 30vw;
    background: #FFFFFF;
}

.menu_menu{
    display: flex;
    margin-left: 4vw;
    margin-top: 8vh;
    flex-direction: column;
}

.menu_text{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin-top: 5vh;
    text-decoration: none;
    color: #000;

}

.menu_text:hover{
    color: #FE982A;
}

.menu_button_block{
    display: flex;
    margin-left: 4vw;
}

.menu_button{
    padding: 20px 50px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    border-radius: 5px;
    margin-top: 26vh;
    text-align: center;
    letter-spacing: 3px;
    background: #FE982A;
    box-shadow: 0 5px 10px rgba(255, 141, 65, 0.603);
    color: white;
    transition: .3s; 
}

.menu_button:hover{
    
    transform: translateY(-7px);
    color: #524f4e;
    background: rgba(248, 242, 242, 1);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .1);
}

 /* ====================БЛОК 3===================== */

 #login_bar:checked ~ .registration_menu {
    transform: translateX(-160vw);
    
    
}

 .registration_menu{
    display: flex;
    flex-direction: row;
    width: 60vw;
    transition: .6s; 
    z-index: 10;
 }

 .visual_circles{
    display: flex;
    position: relative;
    width: 50vw;
    height: 100vh;
 }

 .visual_circle_1{
    position: absolute;
    width: 310px;
    height: 300px;
    top: 5vh;
    left: 10vw;
}

 .visual_circle_2{
    position: absolute;
    width: 150px;
    height: 150px;
    top: 35vh;
 }

 .visual_circle_3{
    position: absolute;
    width: 95px;
    height: 80px;
    top: 55vh;
    left: 25vw;
 }

 .visual_circle_4{
    position: absolute;
    width: 65px;
    height: 65px;
    top: 78vh;
    left: 20vw;
 }

 .visual_circle_5{
    position: absolute;
    width: 30px;
    height: 28px;
    top: 92vh;
    left: 23vw;
 }

 .login_menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50vw;
    background: #F8F2F2;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .1);
    

}

.out_login{
    width: 63px;
    height: 64px;
    margin-top: 1vh;
    margin-right: 1vw;
}

.login_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    margin:  5vh 3vw 5vh 3vw;
    padding: 5vh 2vh 0 2vh;
    box-shadow: 0 15px 20px rgba(0, 0, 0, .1);
}

.login_text{
    padding: 3vh;
    margin-top: 4vh ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    background:#F8F2F2;
}

.login_button{
    display: flex;
    height: 6vh;
    width: 100%;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    border-radius: 5px;
    margin-top: 2vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #524f4e;
    background: rgba(248, 242, 242, 1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.login_button:hover {
    background: #FE982A;
    box-shadow: 0 5px 5px rgba(255, 141, 65, 0.603);
    color: white;
    transform: translateY(-1px);
  }

.fix_login{
    font-size: 24px;
    padding: 0 2vh 2vh 2vh;
}